In [250]:
!pip install pymysql
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine

Requirement already satisfied: pymysql in ./anaconda3/lib/python3.7/site-packages (0.9.3)

In [251]:
db_host = '18.136.56.185'
username = 'dm_team3'
user_pass = 'dm_team15119#'
db_name = 'project_telecom'

conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)

In [252]:
sql = 'select * from telecom_churn_data'

In [253]:
df = pd.read_sql(sql,conn)

In [254]:
df.head()

,columns1,columns2,columns3,columns4,columns5,columns6,columns7,columns8,columns9,columns10,...,columns12,columns13,columns14,columns15,columns16,columns17,columns18,columns19,columns20,columns21
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10,3,2.7,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.3,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.9,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [255]:
#convereted all the columns names to valid names from the pdf provided
df.columns=['State', 'Acc_len', 'Area_code', 'Phone', 'Int_plan', 'Vmail_plan',
       'Vmail_message', 'Day_min', 'Day_calls', 'Day_charge', 'Eve_mins',
       'Eve_calls', 'Eve_charge', 'Night_mins', 'Night_calls', 'Night_charge',
       'Int_mins', 'Int_calls', 'Int_charge', 'Custserv_calls', 'Churn']

In [256]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
State             4617 non-null object
Acc_len           4617 non-null object
Area_code         4617 non-null object
Phone             4617 non-null object
Int_plan          4617 non-null object
Vmail_plan        4617 non-null object
Vmail_message     4617 non-null object
Day_min           4617 non-null object
Day_calls         4617 non-null object
Day_charge        4617 non-null object
Eve_mins          4617 non-null object
Eve_calls         4617 non-null object
Eve_charge        4617 non-null object
Night_mins        4617 non-null object
Night_calls       4617 non-null object
Night_charge      4617 non-null object
Int_mins          4617 non-null object
Int_calls         4617 non-null object
Int_charge        4617 non-null object
Custserv_calls    4617 non-null object
Churn             4617 non-null object
dtypes: object(21)
memory usage: 757.6+ KB

In [257]:
df.head()
print(df.shape)

(4617, 21)

In [258]:
#Checking if any values in the variables are null 
df.isnull().sum()

State             0
Acc_len           0
Area_code         0
Phone             0
Int_plan          0
Vmail_plan        0
Vmail_message     0
Day_min           0
Day_calls         0
Day_charge        0
Eve_mins          0
Eve_calls         0
Eve_charge        0
Night_mins        0
Night_calls       0
Night_charge      0
Int_mins          0
Int_calls         0
Int_charge        0
Custserv_calls    0
Churn             0
dtype: int64

In [ ]:
#convert the variable data types to valid data types

In [259]:
df.columns

Index(['State', 'Acc_len', 'Area_code', 'Phone', 'Int_plan', 'Vmail_plan',
       'Vmail_message', 'Day_min', 'Day_calls', 'Day_charge', 'Eve_mins',
       'Eve_calls', 'Eve_charge', 'Night_mins', 'Night_calls', 'Night_charge',
       'Int_mins', 'Int_calls', 'Int_charge', 'Custserv_calls', 'Churn'],
      dtype='object')

In [260]:
#creating a list except the elements which are catergorical[state,Int_plan,Phone,Vmail_plan,Churn]
list = ['Acc_len', 'Area_code','Vmail_message', 'Day_min', 'Day_calls', 'Day_charge', 'Eve_mins',
       'Eve_calls', 'Eve_charge', 'Night_mins', 'Night_calls', 'Night_charge',
       'Int_mins', 'Int_calls', 'Int_charge', 'Custserv_calls']

#ff['Acc_len']= pd.to_numeric(ff.Acc_len,errors='coerce')

df[list]= df[list].apply(pd.to_numeric,errors='coerce')

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
State             4617 non-null object
Acc_len           4617 non-null int64
Area_code         4617 non-null int64
Phone             4617 non-null object
Int_plan          4617 non-null object
Vmail_plan        4617 non-null object
Vmail_message     4617 non-null int64
Day_min           4617 non-null float64
Day_calls         4617 non-null int64
Day_charge        4617 non-null float64
Eve_mins          4617 non-null float64
Eve_calls         4617 non-null int64
Eve_charge        4617 non-null float64
Night_mins        4617 non-null float64
Night_calls       4617 non-null int64
Night_charge      4617 non-null float64
Int_mins          4617 non-null float64
Int_calls         4617 non-null int64
Int_charge        4617 non-null float64
Custserv_calls    4617 non-null int64
Churn             4617 non-null object
dtypes: float64(8), int64(8), object(5)
memory usage: 757.6+ KB

In [261]:
#dropping phone field -not required since it is unique
df.drop(columns='Phone',inplace=True)
print(df.shape)

(4617, 20)

In [262]:
#saving the file before proceeding further
df_bfre_enc= df.to_csv('df_bfre_enc.csv',index=False)

In [125]:
#Encoding the columns values of international plan and voice mail and churn using label encoder

In [263]:
from sklearn.preprocessing import LabelEncoder

list1=['Int_plan','Vmail_plan','Churn']
encoder = LabelEncoder()
for i in list1:
    df[i]=encoder.fit_transform(df[i])

In [264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 20 columns):
State             4617 non-null object
Acc_len           4617 non-null int64
Area_code         4617 non-null int64
Int_plan          4617 non-null int64
Vmail_plan        4617 non-null int64
Vmail_message     4617 non-null int64
Day_min           4617 non-null float64
Day_calls         4617 non-null int64
Day_charge        4617 non-null float64
Eve_mins          4617 non-null float64
Eve_calls         4617 non-null int64
Eve_charge        4617 non-null float64
Night_mins        4617 non-null float64
Night_calls       4617 non-null int64
Night_charge      4617 non-null float64
Int_mins          4617 non-null float64
Int_calls         4617 non-null int64
Int_charge        4617 non-null float64
Custserv_calls    4617 non-null int64
Churn             4617 non-null int64
dtypes: float64(8), int64(11), object(1)
memory usage: 721.5+ KB

In [265]:
df.head()
df_after_enc=df.to_csv('df_after_enc.csv',index=False)

In [ ]:
# a column like state needs to be done one hot encoding since the values in it are huge and each value is unique -learn about one hot encoding

In [266]:
df.State.value_counts()
#plt.bar(df.State,height=0.8,width=0.6)
#plt.show()

WV    149
AL    114
MN    112
ID    110
OH    110
VA    109
NY    109
OR    107
WY    106
NJ    106
TX    105
UT    104
WI     99
MI     98
MA     97
KS     96
VT     95
ME     95
CT     92
MD     92
MT     92
NH     91
CO     91
MS     91
RI     90
KY     90
DE     89
WA     89
IN     89
NV     89
FL     85
MO     84
NM     84
TN     83
SC     83
NC     83
DC     82
AZ     81
ND     80
OK     80
HI     79
NE     79
IL     79
AR     77
GA     77
SD     76
LA     73
AK     69
PA     68
IA     65
CA     44
Name: State, dtype: int64

### to reduce the reduce complexity using the pandas method to convert categorical variable into dummy/indicator variables with the get_dummies function

In [245]:
df.State=pd.get_dummies(df.State,dtype='int64')

In [246]:
df.State.value_counts()

0    4548
1      69
Name: State, dtype: int64

In [248]:
#df.Area_code.value_counts()

In [153]:
cleaned = df.to_csv('cleaned_dataset.csv',index=False)