In [71]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [83]:
#df= pd.read_csv('df_after_enc.csv')
ff=pd.read_csv('cleaned_dataset.csv')

In [84]:
ff.head()

,State,Acc_len,Area_code,Int_plan,Vmail_plan,Vmail_message,Day_min,Day_calls,Day_charge,Eve_mins,Eve_calls,Eve_charge,Night_mins,Night_calls,Night_charge,Int_mins,Int_calls,Int_charge,Custserv_calls,Churn
0,0,128,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,0,107,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,0,137,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,0,84,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,0,75,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [85]:
#Scaling of the features
#Lets check the variance in magnitude of the features
ff.describe()

,State,Acc_len,Area_code,Int_plan,Vmail_plan,Vmail_message,Day_min,Day_calls,Day_charge,Eve_mins,Eve_calls,Eve_charge,Night_mins,Night_calls,Night_charge,Int_mins,Int_calls,Int_charge,Custserv_calls,Churn
count,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000,4617.000000
mean,0.014945,100.645224,437.046350,0.096600,0.267706,7.849903,180.447152,100.054364,30.676576,200.429088,100.179770,17.036703,200.623933,99.944120,9.028185,10.279294,4.433831,2.775926,1.567035,0.142084
std,0.121345,39.597194,42.288212,0.295444,0.442812,13.592333,53.983540,19.883027,9.177145,50.557001,19.821314,4.297332,50.543616,19.935053,2.274488,2.757361,2.457615,0.744413,1.307019,0.349174
min,0.000000,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,12.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,74.000000,408.000000,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,165.900000,87.000000,14.100000,167.100000,87.000000,7.520000,8.600000,3.000000,2.320000,1.000000,0.000000
50%,0.000000,100.000000,415.000000,0.000000,0.000000,0.000000,180.000000,100.000000,30.600000,200.800000,101.000000,17.070000,200.800000,100.000000,9.040000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,0.000000,127.000000,510.000000,0.000000,1.000000,17.000000,216.800000,113.000000,36.860000,234.000000,114.000000,19.890000,234.900000,113.000000,10.570000,12.100000,6.000000,3.270000,2.000000,0.000000
max,1.000000,243.000000,510.000000,1.000000,1.000000,51.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [68]:
#to scale import standardizer
from sklearn.preprocessing import StandardScaler

In [86]:
#scaling on the quantitative data
list=['Acc_len','Vmail_message', 'Day_min', 'Day_calls', 'Day_charge', 'Eve_mins',
       'Eve_calls', 'Eve_charge', 'Night_mins', 'Night_calls', 'Night_charge',
       'Int_mins', 'Int_calls', 'Int_charge', 'Custserv_calls']

#list=['State','Acc_len', 'Area_code','Int_plan','Vmail_plan','Vmail_message', 'Day_min', 'Day_calls', 'Day_charge', 'Eve_mins',
      # 'Eve_calls', 'Eve_charge', 'Night_mins', 'Night_calls', 'Night_charge',
       #'Int_mins', 'Int_calls', 'Int_charge', 'Custserv_calls']
        
ff[list] = StandardScaler().fit_transform(ff[list])

/Users/muralijajula/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/muralijajula/anaconda3/lib/python3.7/site-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [87]:
ff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 20 columns):
State             4617 non-null int64
Acc_len           4617 non-null float64
Area_code         4617 non-null int64
Int_plan          4617 non-null int64
Vmail_plan        4617 non-null int64
Vmail_message     4617 non-null float64
Day_min           4617 non-null float64
Day_calls         4617 non-null float64
Day_charge        4617 non-null float64
Eve_mins          4617 non-null float64
Eve_calls         4617 non-null float64
Eve_charge        4617 non-null float64
Night_mins        4617 non-null float64
Night_calls       4617 non-null float64
Night_charge      4617 non-null float64
Int_mins          4617 non-null float64
Int_calls         4617 non-null float64
Int_charge        4617 non-null float64
Custserv_calls    4617 non-null float64
Churn             4617 non-null int64
dtypes: float64(15), int64(5)
memory usage: 721.5 KB

In [88]:
ff.Churn=ff.Churn.astype('int64')

In [89]:
ff.describe()

,State,Acc_len,Area_code,Int_plan,Vmail_plan,Vmail_message,Day_min,Day_calls,Day_charge,Eve_mins,Eve_calls,Eve_charge,Night_mins,Night_calls,Night_charge,Int_mins,Int_calls,Int_charge,Custserv_calls,Churn
count,4617.000000,4.617000e+03,4617.000000,4617.000000,4617.000000,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4.617000e+03,4617.000000
mean,0.014945,-1.186450e-16,437.046350,0.096600,0.267706,-7.147557e-16,2.507560e-16,-5.183956e-17,-2.786980e-17,-2.332021e-16,-1.071749e-16,4.713098e-16,3.208694e-16,3.067842e-16,-3.412818e-16,-8.781751e-17,1.562656e-16,-3.450661e-16,-1.630347e-17,0.142084
std,0.121345,1.000108e+00,42.288212,0.295444,0.442812,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,1.000108e+00,0.349174
min,0.000000,-2.516744e+00,408.000000,0.000000,0.000000,-5.775869e-01,-3.342995e+00,-5.032694e+00,-3.343076e+00,-3.964847e+00,-5.054691e+00,-3.964913e+00,-3.510694e+00,-4.412010e+00,-3.512462e+00,-3.728350e+00,-1.804315e+00,-3.729418e+00,-1.199068e+00,0.000000
25%,0.000000,-6.729798e-01,408.000000,0.000000,0.000000,-5.775869e-01,-6.807840e-01,-6.566293e-01,-6.807402e-01,-6.830474e-01,-6.650012e-01,-6.834523e-01,-6.633393e-01,-6.493849e-01,-6.631596e-01,-6.090880e-01,-5.834873e-01,-6.125301e-01,-4.338854e-01,0.000000
50%,0.000000,-1.629646e-02,415.000000,0.000000,0.000000,-5.775869e-01,-8.284011e-03,-2.734503e-03,-8.345078e-03,7.337303e-03,4.138567e-02,7.749021e-03,3.483838e-03,2.803428e-03,5.195153e-03,7.510198e-03,-1.765446e-01,5.473462e-03,-4.338854e-01,0.000000
75%,0.000000,6.656439e-01,510.000000,0.000000,1.000000,6.732537e-01,6.734791e-01,6.511603e-01,6.738581e-01,6.640930e-01,6.973164e-01,6.640411e-01,6.782217e-01,6.549917e-01,6.779470e-01,6.603789e-01,6.373409e-01,6.637816e-01,3.312975e-01,0.000000
max,1.000000,3.595462e+00,510.000000,1.000000,1.000000,3.174935e+00,3.168954e+00,3.266739e+00,3.169458e+00,3.229792e+00,3.522864e+00,3.228700e+00,3.846126e+00,3.765428e+00,3.843838e+00,3.525747e+00,6.334539e+00,3.525407e+00,5.687578e+00,1.000000

In [97]:
#FINDING THE CORRELATION bewtween the variables to drop the redundant columns
data_cor= ff.corr()

In [99]:
data_cor.Churn.sort_values()

Vmail_plan       -0.110149
Vmail_message    -0.096884
Int_calls        -0.045844
State            -0.024561
Night_calls      -0.006671
Eve_calls         0.001943
Area_code         0.011995
Day_calls         0.016268
Acc_len           0.018046
Night_charge      0.043260
Night_mins        0.043262
Int_charge        0.064728
Int_mins          0.064731
Eve_charge        0.087036
Eve_mins          0.087042
Day_charge        0.202434
Day_min           0.202439
Custserv_calls    0.209351
Int_plan          0.257524
Churn             1.000000
Name: Churn, dtype: float64

In [ ]:
#saving file after only scaling
df_after_scale = ff.to_csv('df_after_scale.csv',index=False)

### conclusion we can see that day mins-day charge / eve_mins-eve charge / night mins -night charge/ Int mins and Int charge are highly correlated

In [ ]:
# we can add new features as well -TBD LATER

In [92]:
df = ff.drop(['Day_charge','Eve_charge','Night_charge','Int_charge'],axis=1)

In [93]:
df.head()

,State,Acc_len,Area_code,Int_plan,Vmail_plan,Vmail_message,Day_min,Day_calls,Eve_mins,Eve_calls,Night_mins,Night_calls,Int_mins,Int_calls,Custserv_calls,Churn
0,0,0.690901,415,0,1,1.261885,1.568293,0.500261,-0.059921,-0.059527,0.872135,-0.448712,-0.101301,-0.583487,-0.433885,0
1,0,0.160503,415,0,1,1.335463,-0.349166,1.154156,-0.097506,0.142298,1.064069,0.153308,1.240707,-0.583487,-0.433885,0
2,0,0.918214,415,0,0,-0.577587,1.166275,0.701460,-1.567294,0.495492,-0.752381,0.203477,0.696649,0.230398,-1.199068,0
3,0,-0.420409,408,1,0,-0.577587,2.203741,-1.461423,-2.740354,-0.614545,-0.073686,-0.549048,-1.334498,1.044284,0.331298,0
4,0,-0.647723,415,1,0,-0.577587,-0.254682,0.651160,-1.031207,1.100966,-0.271556,1.056338,-0.065031,-0.583487,1.096480,0

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 16 columns):
State             4617 non-null int64
Acc_len           4617 non-null float64
Area_code         4617 non-null int64
Int_plan          4617 non-null int64
Vmail_plan        4617 non-null int64
Vmail_message     4617 non-null float64
Day_min           4617 non-null float64
Day_calls         4617 non-null float64
Eve_mins          4617 non-null float64
Eve_calls         4617 non-null float64
Night_mins        4617 non-null float64
Night_calls       4617 non-null float64
Int_mins          4617 non-null float64
Int_calls         4617 non-null float64
Custserv_calls    4617 non-null float64
Churn             4617 non-null int64
dtypes: float64(11), int64(5)
memory usage: 577.2 KB

In [95]:
df=df.to_csv('df_scale_corr.csv',index=False)

In [ ]:
# saved file after scaling and dropping highly correalted variables.